	

body {
	margin:0px;
	color:#000;
	background:url(../images/bg.gif) repeat-x;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
}
a{
	color:#134366;
	text-decoration:underline;
		}
a:hover{

}
#container {margin:0px auto; width:1000px;}
.clear {clear:both;}
.main_center {
	margin:0px auto;
	width:1000px;
}

/*************************/
#main_panel {clear:both;}
#main_top_panel {margin:0px; padding:0px; height:66px;}
.main_top_controller {margin:0px; padding:10px 0px 0px 0px;}
#main_navigation_panel {
	float:right;
	width:500px;
}
.main_navigation_cotroller {margin:0px; padding:10px 0px 0px 0px;}
#topmenu { margin:0px; padding:1px 0px 0px 0px; }
#topmenu ul {margin:0px; padding:0px;}

#topmenu ul li { display:block; float:left;	list-style:none;}

#topmenu li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-transform:capitalize;
	display:block;
	float:left; 	
	
	padding:0px 2px 0px 2px;
}

#topmenu li a span {
	display:block;
	float:left;
	padding:15px 22px 15px 22px; 
	cursor:pointer;
	
}

#topmenu li a:hover {
	color:#fff; background:url(../images/top_left_nav.gif) left bottom no-repeat;

}

#topmenu li a:hover span { background:url(../images/top_right_nav.gif) right  bottom no-repeat;
	
}

#topmenu li a.over {
	color:#fff;
	background:url(../images/top_left_nav.gif) left bottom no-repeat; 
}

#topmenu li a.over span {
	background:url(../images/top_right_nav.gif) right  bottom no-repeat;
}

#main_top_righ_login_panel {
	float:left;
	width:280px;
}
.main_top_search_controller {
	margin:0px;
	padding:0px 0px 0px 0px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}
.main_top_search_bg { height:43px;  float:right;}
.main_top_search_details {margin:0px; padding:10px 0px 0px 10px;}

.main_top_search_details span.search {margin:0px; padding:0px 0px 0px 25px; background:url(../images/img1.gif) no-repeat left; } 
.main_top_search_details form {margin:0px; padding:0px;}
.main_top_search_details form label {margin:0px; padding:0px 0px 0px 0px; float:left; color:#d6d5d4;}
.main_top_search_details form span.search {margin:0px; padding:2px 0px 2px 25px; background:url(../images/zoom.gif) no-repeat left; display:block;}
.main_top_search_details form input {margin:0px 0px 0px 5px; padding:0px; background-color:#9ab4c5; border:none; height:21px;  width:135px; float:left; }
.main_top_search_details form input.go {margin:0px 0px 0px 5px; padding:0px; width:46px; border:none; height:22px;}


/******************/

#main_header_panel {clear:both;}
.main_header_bg {background:url(../images/header_img.jpg) no-repeat right; height:345px;}
#feature_panel {margin:0px; padding:0px;}
.feature_controller {margin:0px; padding:0px 0px 0px 0px;}
.feature_nav {margin:0px; padding:0px;}
.feature_nav p{
	margin:0px;
	padding:10px 0px 10px 15px;
	font-size:13px;
	color:#1343666;
}
.feature_nav p a {
	margin:0px;
	padding:0px 5px 0px 5px;
	text-decoration:none;
	color:#630a0a;
}
.feature_nav p a:hover {
	text-decoration:underline;
	font-weight: bold;
}

/*****************************************/
#main_logo_panel {clear:both;}
.main_logo_controlller {margin:0px; padding:15px 0px 0px 0px;}
.logo {margin:0px; padding:0px; width:270px;}
/*********************************************/
#header_container { clear:both;}
.haader_controller {margin:0px; padding:15px 0px 0px 0px;}
.header_bg {background:url(../images/img1.gif) no-repeat; height:152px; width:600px;}
.haader_right_container {margin:0px; padding:0px; float:right; width:350px;}
.haader_right_controller {margin:0px; padding:30px 25px 0px 15px;}
.haader_right_details {margin:0px; padding:0px;}
.haader_right_details h2 {margin:0px; padding:0px; font-size:22px; color:#c4e3f1; font-weight:normal;}
.haader_right_details h4 {margin:0px; padding:0px; font-size:12px; color:#fff; font-weight: bold;}
.haader_right_details p{margin:0px; padding:15px 0px 0px 0px; line-height:20px; color:#c6cfdb;}
/**************************************/
#main_middle_panel {clear:both;}
.main_middle_controller {margin:0px; padding:10px 0px 30px 0px;}
#main_left_panel {float:left; width:243px;}
.main_left_controller {margin:0px; padding:0px 0px 0px;}
.main_left_details {margin:0px; padding:0px; width:192px;}
.main_left_details h3 {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
	color:#134366;
}
.main_left_details h4 {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
	color:#134366;
}
.main_left_details ul { margin:0px; padding:10px 0px 0px 0px;}
.main_left_details ul li{ margin:0px; padding:0px 0px 1px 0px; list-style:none; line-height:30px; background:url(../images/dash.gif) repeat-x bottom;  }
.main_left_details ul li a{
	margin:0px;
	padding:0px;
	display: block;
	text-decoration:none;
	color:#000;
}
.main_left_details ul li a span { display:block; margin:0px; padding:0px 0px 0px 10px; background:url(../images/arrow.gif) no-repeat 0 10px;}
.main_left_details ul li a:hover {margin:0px; padding:0px; display: block; text-decoration:none; color:#757b7f;background-color:#eef2f5; }
.main_left_details ul li a.list {
	margin:0px;
	padding:0px;
	display: block;
	text-decoration:none;
	color:#000;
	background-color:#eef2f5;
}


/***************************/
#main_mid_panel {
	float: left;
	width:755px;
}
.main_mid_contorller {margin:0px; padding:10px 0px 0px 0px;}
.main_mid_details { margin:0px; padding:0px;}
.main_box_section {clear:both; margin:0px; padding:0px 0px 55px 0px;}
.main_box_section_left { float: left; width:147px;}
.main_box_section_left_bg { background:url(../images/box_gradient.gif) repeat-x; border:1px #a1b1b8 solid; width:132px; background-color:#c4d4db;}
.main_box_section_left_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_left_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}

.main_box_section_mid { float: left; width:140px;}
.main_box_section_mid_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_mid_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}


.main_box_section_right { float: right; width:136px;}
.main_box_section_right_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_right_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}


.main_mid_sec_contorller {margin:0px; padding:0px; clear:both;}
.main_mid_sec_details {
	margin:0px;
	padding:0px;
	font-size:13px;
	color:#134366;
	line-height:22px;
}
.main_mid_sec_details h1{
	padding:0px;
	font-size:25px;
	font-weight:normal;
	color:#000;
	line-height: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.main_mid_sec_details h4{ margin:0px; padding:0px; font-size:13px; font-weight:bold; color:#000;}
.main_mid_sec_details p{ margin:0px; padding:20px 0px 0px 0px; font-size:13px; color:#757b7f; line-height:22px;}
.main_mid_sec_details p span {margin:0px; padding:25px 0px 0px 0px; display:block; color:#630a0a; font-weight:bold; text-align:right;}
.main_mid_sec_details p span a {text-decoration:none; color:#630a0a;}
.main_mid_sec_details p span a:hover {text-decoration:underline;}
/*************************/
#main_right_panel {float:right; width:192px;}
.main_right_contorller {margin:0px; padding:0px;}
.main_right_details { margin:0px; padding:0px; font-size:13px; font-weight:normal; color:#757b7f; line-height:22px; background:url(../images/dash.gif) repeat-x bottom; }
.main_right_details h3 {margin:0px; padding:0px; font-size:25px; font-weight:normal; color:#134366;}
.main_right_details h4 {margin:0px; padding:0px; font-size:12px; font-weight:bold; color:#000;}
.main_right_details h5 {margin:0px; padding:15px 0px 0px 0px; font-size:13px; font-weight:bold; color:#585d60;}
.main_right_details span.calander {margin:0px; padding:0px 0px 0px 25px; background:url(../images/img5.gif) no-repeat left;}
.main_right_details p{ margin:0px; padding:5px 0px 0px 0px; font-size:13px; font-weight:normal; color:#757b7f; line-height:22px;}
.main_right_details p span {margin:0px; padding:25px 0px 0px 0px; display:block; color:#630a0a; font-weight:bold; text-align:right;}
.main_right_details p span a {text-decoration:none; color:#630a0a;}
.main_right_details p span a:hover {text-decoration:underline;}

.on_line_support{clear:both;}
.on_line_support_contorller {
	margin:0px;
	padding:10px 0px 10px 0px;
}
/************************/

#main_footer_panel {clear:both; margin:0px; padding:0px;}
.main_footer_controller {margin:0px; padding:0px;   background-color:#273239;}
.main_footer_details {margin:0px; padding:35px 0px 35px 0px; }
.main_footer_details h4 {margin:0px; padding:0px 0px 0px 0px;    text-align:right;   font-size:12px; color:#cddde4; font-weight:normal; }
.main_footer_details p {margin:0px; padding:0px;  color:#cddde4;  float:left; font-size:12px;  }
.main_footer_details p a {color:#cddde4; text-decoration:none; margin:0px; padding:0px 5px 0px 5px;  }
.main_footer_details p a:hover {text-decoration:underline;}

/* inner pages css start */
.aboutus-img{float:right; border:4px solid #fff;	margin:0 0px 10px 20px;}
h3{
	font-size:16px;
	font-weight:bold;
	padding:0px 0px 5px 0px;
	
	margin:0px 0px 10px 0px;
	color: #134366;
}	
	h4{
	font-size:14px;
	font-weight:bold;
	padding:0px 0px 5px 0px;
margin:0px 0px 10px 0px;
	color: #134366;
}
h5{
	font-size:13px;
	font-weight:bold;
	padding:0px 0px 5px 0px;
	border-bottom:1px dotted #666;
	margin:0px 0px 10px 0px;
	color: #134366;
}
h6{font-size:16px; font-weight:bold; padding:0px 0px 5px 0px; margin:0px 0px 10px 0px;}
}
h6{font-size:18px; font-weight:bold; padding:0px 0px 5px 0px; margin:0px 0px 10px 0px;}
.aboutcolumnzone{padding:20px 0px 16px 0px;}
.aboutcolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.aboutcolumn2{width:48%; float:right; margin:0px 0px 10px 0px;}
.abouticon{float:left; margin:0px 20px 0px 0px;}
.insidereadmore{padding:10px 0px 10px 0px;}
input.button{color:#000; background:#ffc850; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 10px; margin:0px 5px 5px 0;	border:1px solid #5b7a92;}
input.button:hover{cursor:pointer; color:#fff; background:#663300; border:1px solid #ffc850;}
.project-img{float:right; margin-left:20px;	border: 6px solid #666;}
.whiteheading{font:30px Myriad Pro, Arial; color:#CBD76B; font-weight:100;	padding:0px; margin:25px 0px 20px 0px;}
.ourprojectrow{margin-bottom:20px; border-bottom:1px dotted #666; padding-bottom:10px; padding-right:20px}
.servicecolumnzone{padding:20px 0px 16px 0px;}
.servicecolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.servicecolumn2{width:48%; float:right;	margin:0px 0px 10px 0px;}
.blog-posted-row{padding:3px;}
/* inner pages css ends */
/***************************/
#main_s_panel {
	float: right;
	width:750px;
}
.main_s_contorller {margin:0px; padding:5px 0px 0px 0px;}
.main_s_details {
	font-size: 13px;
	font-weight: normal;
	line-height: 16pt;
	padding: 10px;
}
.main_box_section {clear:both; margin:0px; padding:0px 0px 5px 0px;}
.main_box_section_left { float: left; width:147px;}
.main_box_section_left_bg { background:url(../images/box_gradient.gif) repeat-x; border:1px #a1b1b8 solid; width:132px; background-color:#c4d4db;}
.main_box_section_left_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_left_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}

.main_box_section_s { float: left; width:140px;}
.main_box_section_s_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_s_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}


.main_box_section_right { float: right; width:136px;}
.main_box_section_right_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_right_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}
#??? {
	color: #134366;
}
#container #main_panel .main_center #main_top_panel .main_top_controller #main_top_righ_login_panel .main_top_search_controller table tr th strong {
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
}
#container #main_panel .main_center #main_middle_panel .main_middle_controller #main_s_panel .main_s_contorller .main_s_details .main_s_sec_contorller .main_s_sec_details h3 {
	font-size: 18px;
	color: #134366;
}
#container #main_panel .main_center #main_middle_panel .main_middle_controller #main_s_panel .main_s_contorller .main_s_details .main_s_sec_contorller .main_s_sec_details h7 h4 {
	font-weight: bold;
	color: #134366;
}
#container #main_panel .main_center #main_middle_panel .main_middle_controller #main_s_panel .main_s_contorller .main_s_details .main_s_sec_contorller .main_s_sec_details h7 h2 {
	color: #134366;
}
#container #main_panel .main_center #main_middle_panel .main_middle_controller #main_s_panel .main_s_contorller .main_s_details .main_s_sec_contorller .main_s_sec_details p font strong {
	font-weight: bold;
}
/***************************/
#main_r_panel {
	float: right;
	width:420px;
}
.main_r_contorller {margin:0px; padding:10px 0px 0px 0px;}
.main_mid_details { margin:0px; padding:0px;}
.main_box_section {clear:both; margin:0px; padding:0px 0px 55px 0px;}
.main_box_section_left { float: left; width:147px;}
.main_box_section_left_bg { background:url(../images/box_gradient.gif) repeat-x; border:1px #a1b1b8 solid; width:132px; background-color:#c4d4db;}
.main_box_section_left_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_left_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}

.main_box_section_r { float: left; width:140px;}
.main_box_section_r_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_r_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}


.main_box_section_right { float: right; width:136px;}
.main_box_section_right_controller {margin:0px; padding:5px 5px 5px 5px; text-align:center;}
.main_box_section_right_controller p {margin:0px; padding:10px 0px 15px 0px; font-size:13px; font-weight:bold; color:#000;}


.main_r_sec_contorller {margin:0px; padding:0px; clear:both;}
.main_r_sec_details {
	margin:0px;
	padding:0px;
	font-size:13px;
	color:#000;
	line-height:22px;
}
.main_r_sec_details h1{
	padding:0px;
	font-size:18px;
	font-weight:bold;
	color:#000;
	line-height: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.main_r_sec_details h4{
	margin:0px;
	padding:0px;
	font-size:13px;
	font-weight:bold;
	color:#134366;
}
.main_r_sec_details p{ margin:0px; padding:20px 0px 0px 0px; font-size:13px; color:#757b7f; line-height:22px;}
.main_r_sec_details p span {margin:0px; padding:25px 0px 0px 0px; display:block; color:#630a0a; font-weight:bold; text-align:right;}
.main_r_sec_details p span a {text-decoration:none; color:#630a0a;}
.main_r_sec_details p span a:hover {text-decoration:underline;}
/*************************/
#main_right_panel {
	float:left;
	width:280px;
}
.main_right_contorller {margin:0px; padding:0px;}
.main_right_details { margin:0px; padding:0px; font-size:13px; font-weight:normal; color:#757b7f; line-height:22px; background:url(../images/dash.gif) repeat-x bottom; }
.main_right_details h3 {margin:0px; padding:0px; font-size:25px; font-weight:normal; color:#134366;}
.main_right_details h4 {margin:0px; padding:0px; font-size:12px; font-weight:bold; color:#000;}
.main_right_details h5 {margin:0px; padding:15px 0px 0px 0px; font-size:13px; font-weight:bold; color:#585d60;}
.main_right_details span.calander {margin:0px; padding:0px 0px 0px 25px; background:url(../images/img5.gif) no-repeat left;}
.main_right_details p{ margin:0px; padding:5px 0px 0px 0px; font-size:13px; font-weight:normal; color:#757b7f; line-height:22px;}
.main_right_details p span {margin:0px; padding:25px 0px 0px 0px; display:block; color:#630a0a; font-weight:bold; text-align:right;}
.main_right_details p span a {text-decoration:none; color:#630a0a;}
.main_right_details p span a:hover {text-decoration:underline;}

.on_line_support{clear:both;}
.on_line_support_contorller {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-weight: normal;
}
	
	h11{
	font-size:13px;
	font-weight:bold;
	padding:0px 0px 5px 0px;
	margin:0px 0px 10px 0px;
	color: #FFF;
}


/*----------content_middle----------*/
.content_middle {
	background: #ffffff;
	width: 700px;
	padding: 30px 20px 30px 20px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-box-shadow: 0px 0px 10px #d4d4d4;
	-webkit-box-shadow: 0px 0px 10px #d4d4d4;
	-o-box-shadow: 0px 0px 10px #d4d4d4;
	-ms-box-shadow: 0px 0px 10px #d4d4d4;
	box-shadow: 0px 0px 10px #d4d4d4;
	float: left;
}

/**--gallery--**/
ul.gallery li {
	background: url(../images/gallery-box_1.png) no-repeat;
	width: 120px;
	height: 78px;
	padding: 5px;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative;
	list-style: none;
	float: left;
}
ul.gallery li a span {
	width: 120px;
	height: 78px;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	display: none;
}
ul.gallery li a span img, ul.gallery li.last_image a span img {
	width: 34px;
	height: 34px;
	border:none;
	margin-top: 25px;
	margin-left: 40px;
	background: none !important;
}
.gallery_title {
	background: url(../images/gallery-top-heading-bg.png) no-repeat;
	width: 178px;
	height: 25px;
	position: absolute;
	top: -5px;
	left: 36px;
	z-index: 999;
	color: #535353;
	text-shadow: 0px -1px 0px #f6f6f6;
	text-align: center;
	line-height: 1.8em;
